image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:-1;
}
.main-container{
    --background : url('./homePageImages/img11.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba (0,0,0,0.2);
    object-fit: contain;
    justify-content: center;
    animation-name: example;
    animation-duration: 20s;
   animation-iteration-count: infinite;
   color: white;
   
}
@keyframes example{
    0% {background: url('./homePageImages/img11.jpg') center center/cover no-repeat;width: 100%;}
    25% {background: url('./homePageImages/img12.jpg')center center/cover no-repeat;width: 100%;}
    50% {background: url('./homePageImages/img13.jpg')center center/cover no-repeat;width: 100%;}
    75% {background: url('./homePageImages/img14.jpg') center center/cover no-repeat;width: 100%;}
    100% {background: url('./homePageImages/img15.jpg')center center/cover no-repeat;width: 100%;}
}
.main-container > h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 300px;
    font-size: 80px;
}
.main-container >p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
.main-btns{
    margin-top: 6px;
}
.main-btns > .btns {
    margin-top: 2px;
    font-size: 25px;
    border: 3px solid;
    border-radius: 40px;
    background: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
@media screen and (max-width:960px) {
    .main-container > h1 {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: -100px;
        font-size: 70px;
    }
    
}
@media screen and (max-width:768px) {
    .main-container > h1 {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: -100px;
        font-size: 70px;
    }
    
}